:root {
  background-color: black;
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

.body {
  display: inline;
}

.score {
  padding-left: 30px;
  float: left;
}

.timer {
  padding-right: 30px;
  float: right;
}

.game {
  padding: 0.5em;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(27, 27, 27);
  justify-content: center;
}

.game > button{
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(34, 34, 34);
  flex-basis: 20%;
  height: 200px;
  width: 100%;
  border-style: hidden;
  min-width: 190px;
  min-height: 190px;
}

img {
  height: 175px;
  width: 175px;
}

.hidden {
  display: none;
}

#dogs {
  object-fit: cover;
}
